@import '../scss components/NavBar.scss';
@import '../scss components/banner.scss';
@import '../scss components/cards.scss';
@import '../scss utils/var.scss';


.home {
    margin: $default-margin;
    .home__gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
        row-gap: $default-gap;
        column-gap: 60px;
        margin-bottom: $default-margin-bottom;
        background: $secondary-color;
        border-radius: $default-border-radius;
        padding: 56px 50px 43px;
      }

}

.intro {
  text-align: center;
}