* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f1f1f1;
  }
  
  #root {
    width: 100%;
    padding: 0 0.6rem;
  }
  
  .login-container {
    margin: 0 auto;
    max-width: 410px;
    padding: 2rem 1.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  
    .form-title {
      font-size: 1.37rem;
      color: #7f2427;
      font-weight: 600;
      text-align: center;
      margin-bottom: 1.87rem;
    }
  
    .input-wrapper {
      height: 54px;
      width: 100%;
      position: relative;
      margin-bottom: 1.5rem;
  
      .input-field {
        height: 100%;
        width: 100%;
        outline: none;
        font-size: 1.08rem;
        border-radius: 0.31rem;
        color: #ed3e55;
        border: 1px solid #eea1a1;
        padding: 0 1.25rem 0 3.12rem;
        transition: 0.2s ease;
  
        &:focus {
          border-color: #ed3e55;
          box-shadow: 0 0 5px rgba(#ed3e55, 0.5);
        }
  
        &::placeholder {
          color: #e7a5b2;
        }
      }
  
      .icon {
        color: #ed3e55;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.2s ease;
      }
    }
  
    .login-button {
      width: 100%;
      height: 54px;
      border: none;
      border-radius: 0.5rem;
      background: #ed3e55;
      color: #fff;
      font-size: 1.125rem;
      font-weight: 500;
      transition: 0.2s ease;
  
      &:hover,
      &:focus {
        background: #dc3e3e;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }
    }
  
    .remember-forgot {
      display: flex;
      justify-content: space-between;
      margin: -10px 0 10px;
  
      label {
        display: flex;
        align-items: center;
        color: #7f2427;
        font-size: 1rem;
        font-weight: 500;
        gap: 0.5rem;
  
        .custom-checkbox {
          appearance: none;
          width: 15px;
          height: 15px;
          border: 2px solid #ed3e55;
          border-radius: 3px;
          background-color: #fff;
          cursor: pointer;
          position: relative;
  
          &:checked {
            background-color: #f86f8a;
            border-color: #cccccc;
  
            &::after {
              content: "";
              position: absolute;
              top: 0px;
              left: 4px;
              width: 4px;
              height: 8px;
              border: 1px solid white;
              border-width: 0 2px 2px 0;
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  
    .forgot-pass-link {
      color: #f95055;
      text-decoration: none;
      font-weight: 500;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    .separator {
      margin: 1.5rem 0;
      text-align: center;
      position: relative;
  
      span {
        position: relative;
        background: #fff;
        z-index: 1;
        padding: 0 0.9rem;
        font-size: 1.06rem;
        font-weight: 500;
        color: #7f2427;
      }
  
      &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
        background: #ebcdcd;
      }
    }
  
    .social-login {
      display: flex;
      gap: 1.31rem;
  
      .social-button {
        display: flex;
        width: 100%;
        gap: 0.81rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
        padding: 0.75rem 0;
        align-items: center;
        border-radius: 1rem;
        justify-content: center;
        background: #ffebeb;
        border: 1px solid #bb8282;
        transition: 0.3s ease;
  
        &:hover {
          background: #ffb7b7;
          border-color: #e73838c8;
        }
  
        .social-icon {
          width: 23px;
        }
      }
    }
  
    .register-text {
      text-align: center;
      font-weight: 500;
      color: #7f2427;
      margin: 1.75rem 0 0.31rem;
  
      .register-link {
        color: #f95055;
        text-decoration: none;
        font-weight: 500;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }